
@{
    ViewBag.Title = "RemovedStaff";
}

    <div style="float:left">
        <h2>Removed staffs</h2>

        @foreach (var item in Model)
        {
            <a href="@Url.Action("GetStaff","Home", new { id = item.Id})">@item.Name</a>
            <a href="@Url.Action("BackStaff","Home", new { id = item.Id})">Back Staff</a>
            <br />
        }
        <br />
      
    </div>

